@model IEnumerable<NLearn.UI.Models.UserModel>


    @if (Model != null)
    {
    <form>
        <div class="alert alert-info font-weight-bold" role="alert">
           There are @Model.Count() records.

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                          Name
                </div>
                <div class="col-md-11">
                           Surname
                </div>
            </div>
        
            @foreach (var usr in Model)
            {

            <div class="row">
                <div class="col-md-1">
                        <div class="form-text">
                           @Html.DisplayFor(m=> usr.Name)
                   
                        </div>
                </div>
                <div class="col-md-11">
                        <div class="form-text">
                           @Html.DisplayFor(m=> usr.Surname)
                   
                        </div>
                </div>
            </div>
            }
        </div>
    
    </form>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Users weren't found.
        </div>
    }

